.logo-header {
    height: 300px;
    width: 300px;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: var(--button-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}