<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Nunito&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <link rel="stylesheet" href="../../css/tela_info.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../../images/logo.png">
            <nav>
                <a class="text" href="perfil.php">Perfil</a>
                <a class="text" href="cadMetas.php">Metas</a>
                <a class="text" href="cadResiduos.php">Resíduos</a>
                <a class="text" href="ranking.php">Ranking</a>
                <a class="text" href="#">Sair</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="main-section-residuo">
                <h2 class="title-residuo">O que são Resíduos Sólidos?</h2>
                <img class="img-principal" src="../../images/residuos2.png">
        </section>
        <section>
            <p class="main-text-residuos">
                Resíduos sólidos é todo tipo de resíduo resultante de atividades humanas. Os resíduos 
                recicláveis secos são compostos principalmente por plásticos, metais, papeis,
                papelão, embalagens cartonadas e vidros variados. Podem ser tanto domiciliares como 
                provenientes de limpeza urbana.  
            </p>
        </section>
    </main>
</body>
</html>