<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Nunito&family=Roboto+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <link rel="stylesheet" href="../../css/tela_info.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../../images/logo.png">
            <nav>
              <a class="text" href="perfil.php">Perfil</a>
              <a class="text" href="cadMetas.php">Metas</a>
              <a class="text" href="cadResiduos.php">Resíduos</a>
              <a class="text" href="ranking.php">Ranking</a>
              <a class="text" href="#">Sair</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="main-section">
                <h2 class="title">Como separar os resíduos corretamente?</h2>
                <img class="img-principal" src="../../images/separação_correta.png">
        </section>
        <section>
            <p class="main-text">
                Os resíduos quando estão misturados se tornam mais difíceis de serem reaproveitados, por isso 
                é fundamental que sejam separados corretamente nas residências. Para fazer isso, primeiramente 
                é necessários separar os resíduos orgânicos como restos de alimentos, folhas, sementes dos resíduos 
                sólidos recicláveis como papel, vidro, plástico e metal.
            </p>
        </section>
        <section>
            <h2 class="title">Dicas de seperação de resíduos</h2>
            <div class="topic-container">
                <div class="topic">
                  <img class="topic-icon" src="../../images/flecha.svg"></img>
                  <span class="topic-text">Lave e seque embalagens que continham produtos orgânicos antes do descarte.</span>
                </div>
                <div class="topic">
                    <img class="topic-icon" src="../../images/flecha.svg"></img>
                  <span class="topic-text">Não amasse e nem molhe os papeis, o melhor é dobrá-los para ocupar menos volume.</span>
                </div>
                <div class="topic">
                    <img class="topic-icon" src="../../images/flecha.svg"></img>
                  <span class="topic-text">Não coloque garrafas e frascos junto com vidros planos.</span>
                </div>
                <div class="topic">
                    <img class="topic-icon" src="../../images/flecha.svg"></img>
                  <span class="topic-text">Se uma mesma embalagem for composta de materiais diferentes como plástico e papel, separe as partes e coloque nos recepientes corretos</span>
                </div>
                <div class="topic">
                    <img class="topic-icon" src="../../images/flecha.svg"></img>
                  <span class="topic-text">Para descarte de vidro quebrado ou materiais perfurocortantes embrulhe em um papel mais grosso como jornal para evitar acidentes.</span>
                </div>
              </div>
        </section>
    </main>
</body>
</html>