<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Nunito&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <link rel="stylesheet" href="../../css/tela_info.css">
    <title>Coleta Seletiva</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="../../images/logo.png">
            <nav>
               <a class="text" href="perfil.php">Perfil</a>
               <a class="text" href="cadMetas.php">Metas</a>
               <a class="text" href="cadResiduos.php">Resíduos</a>
               <a class="text" href="ranking.php">Ranking</a>
               <a class="text" href="#">Sair</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="main-section">
                <h2 class="title">Qual é a importância da Coleta Seletiva?</h2>
                <img class="img-principal" src="../../images/coletaseletiva.jpg">
        </section>
        <section>
            <p class="main-text">
                A coleta seletiva com destino a reciclagem é uma alternativa para 
                contribuir com a redução da quantidade de resíduos sólidos, diminuindo 
                o impacto desses resíduos no meio ambiente. É um instrumento para que 
                todas as pessoas tenham conscientização da sua responsabilidade pelo ciclo dos produtos recicláveis.
                <br><br>
                A prática da coleta seletiva desempenha um papel essencial, como uma importante fonte de renda para pessoas, como os catadores de materiais recicláveis. 
            </p>
        </section>
    </main>
</body>
</html>