<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Nunito&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <link rel="stylesheet" href="../../css/inicial.css">
    <title>Recicle+</title>
</head>
<body> 
    <header>
        <div>
            <img class="logo" src="../../images/logo.png">
            <nav>
                <a class="text" href="perfil.php">Perfil</a>
                <a class="text" href="cadMetas.php">Cadastrar Metas</a>
                <a class="text" href="cadResiduos.php">Cadastrar Resíduos</a>
                <a class="text" href="ranking.php">Ranking</a>
                <a class="text" href="../index.php">Sair</a>
             </na
        </div>
    </header>
    <main>
        <section class="primary-section">
            <!--Parte inicial da página-->
            <div class="ato"> 
                <h1 class="title">O Ato de Reciclar</h1>
                <p class="text">Saiba mais sobre resíduos sólidos, reciclagem, coleta seletiva e a nossa responsabilidade com o nosso planeta! 
                </p>
             </div>
        </section>
        <!--cards com os tópicos-->
        <section class="cards-section">
            <div class="cards">
                <article class="card">
                    <img class="icone" src="../../images/coletaSeletiva.png">
                    <Strong>Coleta Seletiva</Strong>
                    <p>Qual é a importância da coleta seletiva?</p>
                    <a href="info-coleta.html"><button type="submit" class="card-button">
                        <img src="../../images/arrow-right.svg"></button></a>
                    </strong>
                </article>
                <article class="card">
                    <img class="icone" src="../../images/residuos.png">
                    <Strong>Resíduos Sólidos</Strong>
                    <p>O que são resíduos sólidos?</p>
                    <a href="info-residuos.html"><button type="submit" class="card-button">
                        <img src="../../images/arrow-right.svg"></button></a>
                    </strong>  
                </article>
                <article class="card">
                    <img class="icone" src="../../images/separaçao.png">
                    <Strong>Separação Resíduos</Strong>
                    <p>Como separar os resíduos corretamente?</p>
                    <a href="info-separacao.html"><button type="submit" class="card-button">
                        <img src="../../images/arrow-right.svg"></button></a>
                </strong>
            </article>
        </div>
      
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>